@import url("https://fonts.googleapis.com/css?family=Marck+Script|Montserrat:400,700|Noto+Serif:400i|Roboto+Slab:400,700");
/*-----box-sizing-----*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/*-----RESET CSS-----*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.btn-gold {
  width: 240px;
  height: 65px;
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #fed136;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.section {
  width: 100%;
}

.content {
  width: 1000px;
  height: 100%;
  padding: 100px 30px;
  margin: 0 auto;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: column;
      flex-flow: column;
}

.content .section-title {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}

.content p {
  color: #777;
}

.content .section-description {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 16px;
}

.content h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #222;
}

.content i {
  border-radius: 50%;
}

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-flow: row;
      flex-flow: row;
  width: 100%;
}

.flex-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-flow: column;
      flex-flow: column;
}

.hero {
  height: 50vw;
  background: url("../images/header-background.png") no-repeat;
  background-size: cover;
}

.hero .content {
  padding-top: 34px;
  padding-bottom: 152px;
}

.hero header {
  width: 100%;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row;
      flex-flow: row;
}

.hero .logo {
  font-family: 'Marck Script', cursive;
  color: #fed136;
  font-size: 26px;
}

.hero .top-nav ul {
  width: 460px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row;
      flex-flow: row;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.hero .top-nav ul a {
  display: block;
  line-height: 30px;
}

.hero .welcome h2 {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 38px;
  color: white;
}

.hero .welcome p {
  margin: 28px 0 40px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 68px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.hero .welcome button {
  width: 240px;
  height: 65px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #fed136;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.services {
  height: 568px;
}

.services [class^="col-"]:nth-child(2) {
  margin: 0 36px;
}

.services [class^="col-"] i {
  display: inline-block;
  font-size: 40px;
  color: #fed136;
  width: 67px;
  line-height: 64px;
  /* 65px + border (3px) = 68px */
  border: 3px solid #fed136;
}

.services [class^="col-"] h3 {
  margin: 20px 0 15px 0;
}

.services [class^="col-"] p {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.portfolio {
  height: 1220px;
  background-color: #f7f7f7;
}

.portfolio .th-galery {
  height: 900px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.portfolio .thumbnail {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  width: 291px;
  height: 394px;
  background-color: white;
}

.portfolio .thumbnail h3 {
  margin-top: auto;
  color: #333;
}

.portfolio .thumbnail p {
  margin-bottom: auto;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 14px;
}

.about {
  height: 1420px;
}

.about .flex-col {
  margin-bottom: auto;
}

.about .year-box {
  width: 555px;
  height: 227px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row;
      flex-flow: row;
}

.about .year-box::after {
  content: "";
  width: 0;
  height: calc(227px - 170px);
  border: 2px solid #ececec;
  position: absolute;
  bottom: 0;
}

.about .year-box:nth-child(even) {
  margin-right: auto;
  padding-left: 30px;
  text-align: right;
}

.about .year-box:nth-child(even)::after {
  right: calc(170px / 2 - 2px / 2);
}

.about .year-box:nth-child(even) .year-img {
  -ms-flex-order: 2;
      order: 2;
}

.about .year-box:nth-child(even) .year-description {
  -ms-flex-order: 1;
      order: 1;
}

.about .year-box:nth-child(odd) {
  margin-left: auto;
  padding-right: 30px;
  text-align: left;
}

.about .year-box:nth-child(odd)::after {
  left: calc(170px / 2 - 2px / 2);
}

.about .year-img {
  width: 170px;
  height: 170px;
  border: 6px solid #ececec;
  border-radius: 50%;
}

.about .year-description {
  width: 305px;
}

.about .year-description h3 {
  margin-bottom: 15px;
}

.about .year-description h3:first-line {
  text-transform: uppercase;
}

.about .year-img-last {
  background-color: #fed136;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  -ms-flex-flow: row;
      flex-flow: row;
}

.about .year-img-last p {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
}

.team {
  background-color: #f7f7f7;
  height: 818px;
}

.team [class^="col-"] {
  height: 370px;
  padding: 0 30px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
}

.team [class^="col-"] img {
  margin-bottom: 26px;
}

.team [class^="col-"] p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #222;
}

.team [class^="col-"] h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  color: #777;
}

.team [class^="col-"] .icon-box {
  margin-top: auto;
}

.team [class^="col-"] a {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 20px;
  color: #222;
  border: 3px solid #222;
  border-radius: 50%;
}

.team [class^="col-"] a:hover {
  cursor: pointer;
  color: white;
  border: none;
}

.team [class^="col-"] i {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-flow: row;
      flex-flow: row;
  width: 100%;
  height: 100%;
}

.team [class^="col-"] .icon-twitter:hover {
  background-color: #00aced;
}

.team [class^="col-"] .icon-facebook:hover {
  background-color: #3b5998;
}

.team [class^="col-"] .icon-gplus:hover {
  background-color: #da2713;
}

.team [class^="col-"] .icon-pinterest:hover {
  background-color: #cb2028;
}

.team p {
  max-width: 600px;
}

.companies .content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.companies [class^="col-"] {
  padding: 0 20px;
}

.contact {
  height: 677px;
  background: #222 url("../images/contact-background.png") no-repeat right 120px;
}

.contact .section-title {
  color: white;
}

.contact .flex-row {
  height: 213px;
  -ms-flex-align: stretch;
      align-items: stretch;
}

.contact [class^="col-"] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: column;
      flex-flow: column;
  padding: 0 15px;
}

.contact input, .contact textarea {
  width: 455px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #222;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  color: #bbb;
  text-transform: uppercase;
}

.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  color: #bbb;
  text-transform: uppercase;
}

.contact input::placeholder, .contact textarea::placeholder {
  color: #bbb;
  text-transform: uppercase;
}

.contact textarea {
  height: 100%;
  resize: none;
}

.footer {
  height: 90px;
}

.footer .copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #555;
}
/*# sourceMappingURL=style.css.map */