@mixin flex($align-items: false, $justify-content: false, $flex-flow: row) {
  display: flex;
  @if $align-items { align-items: $align-items; }
  @if $justify-content { justify-content: $justify-content; }
  @if $flex-flow { flex-flow: $flex-flow; }
}

// FONTS

@mixin font-Mont($size, $weight: 700) {
  font-family: 'Montserrat', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin font-Noto($size) {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: $size;
}

@mixin font-Roboto($size, $weight: 400) {
  font-family: 'Roboto Slab', serif;
  font-size: $size;
  font-weight: $weight;
}