// -----FONTS-----

@import url('https://fonts.googleapis.com/css?family=Marck+Script|Montserrat:400,700|Noto+Serif:400i|Roboto+Slab:400,700');

// -----STYLESHEETS-----

@import 'box-sizing';
@import 'reset';
@import 'mixins';

// -----VARIABLES-----

$gold: #fed136;
$black: #222;
$grey-dark: #555;
$grey-medium: #777;
$grey-hell: #bbb;
$white-dark: #f9f9f9;

$twitter-color: #00aced;
$facebook-color: #3b5998;
$pinterest-color: #cb2028;
$google-plus-color: #da2713;

// -----CODE-----

// html {
//   font-size: 100px;
// }

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.section {
  width: 100%;
}

.content {
  width: 1000px;
  height: 100%;
  padding: 100px 30px;
  margin: 0 auto;
  text-align: center;
  @include flex(center, space-between, column);  

  .section-title {
    margin-bottom: 5px;
    @include font-Mont(35px);
    text-transform: uppercase;
    color: $black;
  }

  p {
    color: $grey-medium;
  }

  .section-description {
    @include font-Noto(16px);
  }

  h3 {
    @include font-Mont(18px);
    color: $black;
  }

  i {
    border-radius: 50%;
  }
} // .content

.flex-row {
  @include flex();
}

.flex-col {
  @include flex($flex-flow: column);
}

.hero {
  height: 50vw;
  background: url('../images/header-background.png') no-repeat;
  background-size: cover;

  .content {
    padding-top: 34px;
    padding-bottom: 152px;
  }

  header {
    width: 100%;
    padding: 5px;
    @include flex(center, space-between);
  }

  .logo {
    font-family: 'Marck Script', cursive;
    color: $gold;
    font-size: 26px;
  }

  .top-nav ul {
    width: 460px;    
    @include flex(center, space-between);
    @include font-Mont(14px, 400);

    a {
      display: block;
      line-height: 30px;
    }
  }

  .welcome {
    h2 {
      @include font-Noto(38px);
      color: white;
    }
  
    p {
      margin: 28px 0 40px 0;      
      @include font-Mont(68px);
      color: white;      
      text-transform: uppercase;
    }

    button {
      width: 240px;
      height: 65px;
      @include font-Mont(18px);
      color: white;
      background-color: $gold;
      text-transform: uppercase;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  } // .welcome
} // .hero

.services {
  height: 568px;

  [class^="col-"]:nth-child(2) {
    margin: 0 36px;    
  }

  [class^="col-"] {
    i {
      display: inline-block;
      font-size: 40px;
      color: $gold;
      width: 67px;
      line-height: 64px; /* 65px + border (3px) = 68px */
      border: 3px solid $gold;
    }

    h3 {
      margin: 20px 0 15px 0;
    }

    p {
      @include font-Roboto(14px);
      line-height: 23px;
    }
  } // [class^="col-"]
} // .services