// -----FONTS-----

@import url('https://fonts.googleapis.com/css?family=Marck+Script|Montserrat:400,700|Noto+Serif:400i|Roboto+Slab:400,700');

// -----STYLESHEETS-----

@import 'box-sizing';
@import 'reset';
@import 'mixins';

// -----VARIABLES-----

$gold: #fed136;
$black: #222;
$grey-dark: #555;
$grey-medium: #777;
$grey-hell: #bbb;
$white-dark: #f9f9f9;

$twitter-color: #00aced;
$facebook-color: #3b5998;
$pinterest-color: #cb2028;
$google-plus-color: #da2713;

// -----CODE-----

html {
  font-size: 100px;
}

a {
  text-decoration: none;
  color: white;
}

.section {
  width: 100%;
}

.content {
  width: 10rem;
  height: 100%;
  padding: 1.2rem .4rem;
  margin: 0 auto;

  .section-title {
    @include font-Mont(.4rem);
    text-transform: uppercase;
    color: $black;
  }

  p {
    color: $grey-medium;
  }

  .section-description {
    @extend p;
    @include font-Noto(.16rem);
  }

  h3 {
    @include font-Mont(.18rem);
    color: $black;
  }
}

.flex-row {
  @include flex();
}

.flex-col {
  @include flex($flex-flow: column);
}

.hero {
  height: 50vw;
  background: url('../images/header-background.png') no-repeat;
  background-size: cover;

  .content {
    @include flex(center, space-between, column);
    padding-top: .34rem;
    padding-bottom: 1.52rem;
  }

  header {
    width: 100%;
    padding: .05rem;
    @include flex(center, space-between);
  }

  .logo {
    font-family: 'Marck Script', cursive;
    color: $gold;
    font-size: .26rem;
  }

  .top-nav ul {
    width: 4.6rem;    
    @include flex(center, space-between);
    @include font-Mont(.14rem, 400);

    a {
      display: block;
      line-height: .3rem;
    }
  }

  .welcome {
    h2 {
      @include font-Noto(.38rem);
      color: white;
    }
  
    p {
      margin: .28rem 0 .4rem 0;      
      @include font-Mont(.68rem);
      color: white;      
      text-transform: uppercase;
    }

    button {
      width: 2.4rem;
      height: .65rem;
      @include font-Mont(.18rem);
      color: white;
      background-color: $gold;
      text-transform: uppercase;
      border: none;
      border-radius: .03rem;
      cursor: pointer;
    }
  } /* .welcome */
} /* .hero */

.services {
  height: 5.68rem;

}