// -----FONTS-----

@import url('https://fonts.googleapis.com/css?family=Marck+Script|Montserrat:400,700|Noto+Serif:400i|Roboto+Slab:400,700');

// -----STYLESHEETS-----

@import 'box-sizing';
@import 'reset';
@import 'mixins';

// -----VARIABLES-----

$gold: #fed136;
$black: #222;
$grey-dark: #555;
$grey-medium: #777;
$grey-hell: #bbb;
$white-dark: #f9f9f9;

$twitter-color: #00aced;
$facebook-color: #3b5998;
$pinterest-color: #cb2028;
$google-plus-color: #da2713;

// -----CODE-----

