
.icon-my-laptop:before { content: '\e802'; } /* '' */
.icon-my-locked:before { content: '\e803'; } /* '' */
.icon-my-shopping-basket:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */